picture {
  display: block;
  font-size: 0;
}

ul {
  margin: 0;
}

.icon-bg-92px {
  width: 92px;
  height: 92px;
  padding: 14px;
  background-color: var(--bg-light);
  border-radius: 24px;

}
.icon-64px {
  width: 64px;
  height: 64px;
}