//font-size, font-weight, line-height, letter-spacing
@mixin font-fs-lw-lh-ls($fs, $fw, $lh, $ls) {
  font-size: $fs;
  font-weight: $fw;
  line-height: $lh;
  letter-spacing: $ls;
}

//font-size, font-weight, line-height
@mixin font-fs-lw-lh($fs, $fw, $lh) {
  font-size: $fs;
  font-weight: $fw;
  line-height: $lh;
}

//font-size, line-height, letter-spacing
@mixin font-fs-lh-ls($fs, $lh, $ls) {
  font-size: $fs;
  line-height: $lh;
  letter-spacing: $ls;
}

//font-weight, line-height, letter-spacing
@mixin font-fw-lh-ls($fw, $lh, $ls) {
  font-weight: $fw;
  line-height: $lh;
  letter-spacing: $ls;
}

//font-size, line-height
@mixin font-fs-lh($fs, $lh) {
  font-size: $fs;
  line-height: $lh;
}

//font-size, font-weight
@mixin font-fs-fw($fs, $fw) {
  font-size: $fs;
  font-weight: $fw;
}

//line-height, letter-spacing
@mixin font-lh-ls($lh, $ls) {
  line-height: $lh;
  letter-spacing: $ls;
}