//font-size, font-weight, line-height, letter-spacing
@mixin font-fs-fw-lh-ls($fs, $fw, $lh, $ls) {
  font-size: $fs;
  font-weight: $fw;
  line-height: $lh;
  letter-spacing: $ls;
}

//font-size, font-weight, line-height
@mixin font-fs-fw-lh($fs, $fw, $lh) {
  font-size: $fs;
  font-weight: $fw;
  line-height: $lh;
}

//font-size, line-height, letter-spacing
@mixin font-fs-lh-ls($fs, $lh, $ls) {
    font-size: $fs;
    line-height: $lh;
    letter-spacing: $ls;
}

//font-weight, line-height, letter-spacing
@mixin font-fw-lh-ls($fw, $lh, $ls) {
    font-weight: $fw;
    line-height: $lh;
    letter-spacing: $ls;
}

//font-size, line-height
@mixin font-fs-lh($fs, $lh) {
    font-size: $fs;
    line-height: $lh;
}

//font-size, font-weight
@mixin font-fs-fw($fs, $fw) {
    font-size: $fs;
    font-weight: $fw;
}

//line-height, letter-spacing
@mixin font-lh-ls($lh, $ls) {
    line-height: $lh;
    letter-spacing: $ls;
}

@mixin gradient-text_color($color: var(--heading)) {
    background: $color;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@mixin fonts-hero($fs: 38px, $fw: 700, $lh: 46px, $ls: 0) {
    @include gradient-text_color;
    @include font-fs-fw-lh-ls($fs, $fw, $lh, $ls);
}

@mixin fonts-h2($color: var(--main_color), $fs: 30px, $fw: 700, $lh: 37px, $ls: 0) {
    color: $color;
    font-size: $fs;
    font-weight: $fw;
    line-height: $lh;
    letter-spacing: $ls;
}

@mixin fonts-h3($color: var(--main_color)) {
    color: $color;
    font-size: 22px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0;
}

@mixin fonts-h3-caps($color: var(--main_color), $fs: 16px, $fw: 700, $lh: 20px, $ls: 1px) {
    color: $color;
    @include font-fs-fw-lh-ls($fs, $fw, $lh, $ls);
    text-transform: uppercase;
}

@mixin fonts-h4($color: var(--main_color)) {
    color: $color;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0;
}

@mixin fonts-par($color: var(--paragraph-dark)) {
    color: $color;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0;
}

@mixin fonts-list($color: var(--paragraph-dark)) {
    color: $color;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0;
}

@mixin fonts-link($color: var(--active-regular_color), $fs: 16px, $fw: 400, $lh: 20px, $ls: 0) {
    color:$color;
    @include font-fs-fw-lh-ls($fs, $fw, $lh, $ls);
}

@mixin fonts-link-hover($color: var(--accent_color), $fs: 16px, $fw: 400, $lh: 20px, $ls: 0) {
    color: $color;
    @include font-fs-fw-lh-ls($fs, $fw, $lh, $ls);
}

@mixin button($mw, $mh) {
    min-width: $mw;
    min-height: $mh;
    padding: 18px 30px;
    border: none;
    border-radius: 12px;
    color: var(--text-light);
    background-color: var(--active-regular_color);
    box-shadow: 0 0 20px 0 rgba(36, 163, 255, 0.5);
    @include font-fw-lh-ls(700, 20px, 0);
    text-align: center;

    &:hover {
        background-color: var(--active-hover_color);
    }
    &:active {
        background-color: var(--active_color);
    }
}