:root {
    --heading: linear-gradient(118.16deg, rgb(240, 20, 90), rgb(239, 128, 128));
    --heading-invert: linear-gradient(118.16deg, rgb(239, 128, 128),rgb(240, 20, 90));
    --link: var(--active-regular_color);
    --paragraph-dark: #000;
    --link-hover: var(--accent_color);
    --bg-light: #fff;
    --bg-mobile-menu: var(--main_color);
    --link-selected: var(--accent_color);
    --text-light: #fff;
    --text-header-link: var(--grey-text_color);
    --bg-link-mobile-hover: var(--grey-separator_color);
    --bg-header-top: var(--grey-bg_color);
    --bg-burger-dark: #f5f5fa33;
    --bg-dark: linear-gradient(
        208.37deg,
        rgb(50, 50, 100) 15.026%,
        rgb(50, 50, 100) 56.463%,
        rgb(100, 62, 114) 84.207%
    );

    // Colors
    --main_color: #323264;
    --main-alt_color: #46466E;
    --main-soft_color: #686887;
    --accent_color: #F0145A;
    --active-regular_color: #24A3FF;
    --active-hover_color: #0085FF;
    --active_color: #006CCF;
    --grey-bg_color: #F5F5FA;
    --grey-alt_color: #EDEDF7;
    --grey-text_color: #B3B3BA;
    --grey-separator_color: #E6E6F0;
        //background gradients
    --gradient_color: linear-gradient(135.00deg, rgb(50, 50, 100) 0%,rgb(50, 50, 100) 73.958%,rgb(165, 75, 95) 100%);
    --gradient-soft_color: linear-gradient(23.75deg, rgb(50, 50, 100) 9.159%,rgb(50, 50, 100) 51.115%,rgb(122, 66, 94) 92.03%);
    --gradient-red_color: linear-gradient(-49.87deg, rgb(240, 20, 90) 8.512%,rgb(105, 50, 100) 73.404%);
    --gradient-supersoft_color: linear-gradient(208.37deg, rgb(50, 50, 100) 7.87%,rgb(50, 50, 100) 58.098%,rgb(100, 62, 114) 91.728%);
}