@use '../globals/mixins' as *;

@media screen and (min-width: 768px) {
  .homepage-info {
    &__wrapper {
      max-width: 768px;
    }
    &__title {
      max-width: unset;
      padding: 0 30px;
      margin: 275px auto 416px;

      &-description {
        @include font-fs-lh(30px, 37px);
      }
    }
    &__content {
      gap: 60px;

      & > li:nth-child(n+2) {
        padding: 0 60px;
      }
    }
    &__links {
      &-list {
        padding: 60px 0 0 60px;
      }
      &-item a {
        @include font-fs-lh(38px, 46px);
      }
    }
  }
}

@media screen and (min-width: 1024px) {}

@media screen and (min-width: 1440px) {}

@media screen and (min-width: 1920px) {}