@media screen and (min-width: 768px) {
  .bg-black-pages {
    &__bg-symbol {
      height: 1024px;
    }
  }
}

@media screen and (min-width: 1024px) {
  .bg-black-pages {
    &__bg-symbol {
      height: 768px;
    }
  }
}

@media screen and (min-width: 1440px) {
  .bg-black-pages {
    &__bg-symbol {
      height: 799px;
    }
  }
}

@media screen and (min-width: 1920px) {
  .bg-black-pages {
    &__bg-symbol {
      height: 1000px;
    }
  }
}