<div class="footer">
    <div class="footer__wrapper">
        <ul class="footer__list">
            <li class="footer__item">
                <address class="footer__address">Kyiv, Mechnikova str., 14/1</address>
                <span class="footer__dot"></span>
                <a href="#">On map</a>
            </li>
            <li class="footer__item">
                <a href="#"><img src="./assets/images/svgs/sn-facebook_38x38.svg" alt=""></a>
                <span class="footer__dot"></span>
                <a href="tel:+30800211927">0800 211 927</a>
                <span class="footer__dot"></span>
                <a href="mailto:contact@forstudy.space">contact@forstudy.space</a>
            </li>
            <li class="footer__item">
                <span class="footer__copyright">© 2021 HLEGAL Law company, LLC</span>
            </li>
        </ul>
    </div>
</div>