<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="../styles/css/style.css">
</head>
<body>
        <div class="main__wrapper">
                <div class="main__grid-of-sponsors">
                    <!-- Element 1 -->
                    <div class="main__grid-of-sponsors__container main__grid-of-sponsors__top-left"><img
                            src="../assets/images/png/sponsors/sponsors_hillel.png" alt="Logo of Hillel"></div>
                    <!-- Element 2 -->
                    <div class="main__grid-of-sponsors__container"><img
                            src="../assets/images/png/sponsors/sponsors_wannabiz.png" alt="Logo of WannaBiz"></div>
                    <!-- Element 3 -->
                    <div class="main__grid-of-sponsors__container"><img
                            src="../assets/images/png/sponsors/sponsors_tapgerine.png" alt="Logo of Tapgerine"></div>
                    <!-- Element 4 -->
                    <div class="main__grid-of-sponsors__container main__grid-of-sponsors__top-right"><img
                            src="../assets/images/png/sponsors/sponsors_3dlook.png" alt="Logo of 3d Look"></div>
                    <!-- Element 5 -->
                    <div class="main__grid-of-sponsors__container"><img
                            src="../assets/images/png/sponsors/sponsors_orangear.png" alt="Logo of Orangear"></div>
                    <!-- Element 6 -->
                    <div class="main__grid-of-sponsors__container"><img
                            src="../assets/images/png/sponsors/sponsors_adtelligent.png" alt="Logo of Adtelligent"></div>
                    <!-- Element 7 -->
                    <div class="main__grid-of-sponsors__container main__grid-of-sponsors__big-device"><img
                            src="../assets/images/png/sponsors/sponsors_clickky.png" alt="Logo of Clickky"></div>
                    <!-- Element 8 -->
                    <div class="main__grid-of-sponsors__container main__grid-of-sponsors__big-device"><img
                            src="../assets/images/png/sponsors/sponsors_eco-leasing.png" alt="Logo of Eco Leasing"></div>
                    <!-- Element 9 -->
                    <div
                        class="main__grid-of-sponsors__container main__grid-of-sponsors__big-device main__grid-of-sponsors__bottom-left">
                        <img src="../assets/images/png/sponsors/sponsors_ingratek.png" alt="Logo of InfraTek">
                    </div>
                    <!-- Element 10 -->
                    <div class="main__grid-of-sponsors__container main__grid-of-sponsors__big-device"><img
                            src="../assets/images/png/sponsors/sponsors_city-par.png" alt="Logo of City Park"></div>
                    <!-- Element 11 -->
                    <div class="bg-[] main__grid-of-sponsors__container main__grid-of-sponsors__big-device"><img
                            src="../assets/images/png/sponsors/sponsors_artprint.png" alt="Logo of Art Print studio"></div>
                    <!-- Element 12 -->
                    <div
                        class="main__grid-of-sponsors__container main__grid-of-sponsors__big-device main__grid-of-sponsors__bottom-right">
                        <img src="../assets/images/png/sponsors/sponsors_ultimatecard.png" alt="Logo of Ultimate Card">
                    </div>
                </div>
            </div>
</body>
</html>