<div class="main__wrapper">
    <div class="main__grid-of-sponsors">
        <!-- Element 1 -->
        <div class="bg-[#1C4280] main__grid-of-sponsors__container main__grid-of-sponsors__top-left"><img
                src="../assets/images/png/sponsors/sponsors_hillel.png" alt="Logo of Hillel"></div>
        <!-- Element 2 -->
        <div class="bg-[#143646] main__grid-of-sponsors__container"><img
                src="../assets/images/png/sponsors/sponsors_wannabiz.png" alt="Logo of WannaBiz"></div>
        <!-- Element 3 -->
        <div class="bg-[#F48B30] main__grid-of-sponsors__container"><img
                src="../assets/images/png/sponsors/sponsors_tapgerine.png" alt="Logo of Tapgerine"></div>
        <!-- Element 4 -->
        <div class="bg-[#9E4DC3] main__grid-of-sponsors__container main__grid-of-sponsors__top-right"><img
                src="../assets/images/png/sponsors/sponsors_3dlook.png" alt="Logo of 3d Look"></div>
        <!-- Element 5 -->
        <div class="bg-[#FD9339] main__grid-of-sponsors__container"><img
                src="../assets/images/png/sponsors/sponsors_orangear.png" alt="Logo of Orangear"></div>
        <!-- Element 6 -->
        <div class="bg-[#E2E2E4] main__grid-of-sponsors__container"><img
                src="../assets/images/png/sponsors/sponsors_adtelligent.png" alt="Logo of Adtelligent"></div>
        <!-- Element 7 -->
        <div class="bg-[#C71C36] main__grid-of-sponsors__container main__grid-of-sponsors__big-device"><img
                src="../assets/images/png/sponsors/sponsors_clickky.png" alt="Logo of Clickky"></div>
        <!-- Element 8 -->
        <div class="bg-[#DCF3F9] main__grid-of-sponsors__container main__grid-of-sponsors__big-device"><img
                src="../assets/images/png/sponsors/sponsors_eco-leasing.png" alt="Logo of Eco Leasing"></div>
        <!-- Element 9 -->
        <div
            class="bg-[#EAEAEA] main__grid-of-sponsors__container main__grid-of-sponsors__big-device main__grid-of-sponsors__bottom-left">
            <img src="../assets/images/png/sponsors/sponsors_ingratek.png" alt="Logo of InfraTek">
        </div>
        <!-- Element 10 -->
        <div class="bg-[#282240] main__grid-of-sponsors__container main__grid-of-sponsors__big-device"><img
                src="../assets/images/png/sponsors/sponsors_city-par.png" alt="Logo of City Park"></div>
        <!-- Element 11 -->
        <div class="bg-[#1D4568] main__grid-of-sponsors__container main__grid-of-sponsors__big-device"><img
                src="../assets/images/png/sponsors/sponsors_artprint.png" alt="Logo of Art Print studio"></div>
        <!-- Element 12 -->
        <div
            class="bg-[#000000] main__grid-of-sponsors__container main__grid-of-sponsors__big-device main__grid-of-sponsors__bottom-right">
            <img src="../assets/images/png/sponsors/sponsors_ultimatecard.png" alt="Logo of Ultimate Card">
        </div>
    </div>
</div>