<div class="publication-list">
    <div class="publication-list__wrapper">
        <a class="publication-list__details" href="publications.html">
            Publications
            <img src="./assets/images/png/arrow_triangle_right_4.5x9.png" alt="illustration of arrow right">
        </a>
        <h2 class="publication-list__title">We have something to tell</h2>
        <ul class="publication-list__list">
            <li class="publication-list__item">
                <div class="publication-list__cover cover_1"></div>
                <div class="publication-list__content">
                    <a class="publication-list__content-detail" href="publication.html">
                        <h3 class="publication-list__subtitle">Equity associate</h3>
                    </a>
                    <span class="publication-list__date">April 22</span>
                    <hr>
                    <span class="publication-list__description">
                        I'm a jun on projects. I am a co-owner of a law firm. How it happened.
                        Before entering my parents told me that if I…
                    </span>
                </div>
            </li>
            <li class="publication-list__item">
                <div class="publication-list__cover cover_2"></div>
                <div class="publication-list__content">
                    <a class="publication-list__content-detail" href="publication.html">
                        <h3 class="publication-list__subtitle">
                            Penalty for the Good Corporation: what will happen to Google
                            and others for violating the GDPR
                        </h3>
                    </a>
                    <span class="publication-list__date">September 29</span>
                    <hr>
                    <span class="publication-list__description">
                        And why the recovery of 50 million euros could be a fateful precedent
                        According to Mind.ua January 21 National Commission for Data Protection.
                    </span>
                </div>
            </li>
            <li class="publication-list__item">
                <div class="publication-list__cover cover_3"></div>
                <div class="publication-list__content">
                    <a class="publication-list__content-detail" href="publication.html">
                        <h3 class="publication-list__subtitle">Millennial Testament</h3>
                    </a>
                    <span class="publication-list__date">August 19</span>
                    <hr>
                    <span class="publication-list__description">
                        What and how modern vloggers, opinion leaders and crypto-millionaires will inherit
                        A typical legacy of the Ukrainian generation X looks like this: an apartment in…
                    </span>
                </div>
            </li>
        </ul>
    </div>
</div>