<div class="team-slider">
    <div class="team-slider__wrapper">
        <div class="team-slider__slide">
            <div class="team-slider__profile-image">
                <picture>
                    <source srcset="./assets/images/png/team-slider/profile_image_mw1920px.png"
                            media="(min-width: 1920px)" />
                    <source srcset="./assets/images/png/team-slider/profile_image_mw1440px.png"
                            media="(min-width: 1440px)" />
                    <source srcset="./assets/images/png/team-slider/profile_image_mw1024px.png"
                            media="(min-width: 1024px)" />
                    <source srcset="./assets/images/png/team-slider/profile_image_mw768px.png"
                            media="(min-width: 768px)" />
                    <img src="./assets/images/png/team-slider/profile_image_mw375px.png" alt="Profile image">
                </picture>
            </div>
            <div class="team-slider__content">
                <a class="team-slider__details" href="team.html">
                    Команда
                    <div class="team-slider__details-arrow"></div>
                </a>
                <h2 class="team-slider__title">
                    Ми звикли брати на себе відповідальність та завжди гарантуємо чесну, вчасну допомогу,
                    навіть у ситуаціях, коли більшість безсилі.
                </h2>
                <a class="team-slider__profile-link" href="profile.html">Олександр Олександровський</a>
                <span class="team-slider__profile-rank">Керуючий партнер</span>
            </div>
        </div>
        <div class="team-slider__ellipses">
            <span class="team-slider__ellipse active"></span>
            <span class="team-slider__ellipse"></span>
            <span class="team-slider__ellipse"></span>
        </div>
    </div>
</div>