<div class="wrapper header">
    <input type="checkbox" id="mobile" class="header__checkbox">
    <label for="mobile" class="header__label w__color-header-label">
        <span class="header__label-burger w__color-burger"></span>
    </label>
    <a href="#" class="header__logo">
        <svg class="header__logo-image">
            <use href="../assets/images/svgs/sprites/logo-sprites.svg#logo-b"></use>
        </svg>
        <span class="header__logo-text w__color-logo-text">about us</span>
    </a>
    <nav class="header__navigation">
        <ul class="header__navigation-list">
            <li class="header__navigation-list-item"><a
                    class="header__navigation-list-item-link  header__navigation-list-item-link--selected"
                    href="#">about
                    us</a></li>
            <li class="header__navigation-list-item"><a class="header__navigation-list-item-link" href="#">services</a>
            </li>
            <li class="header__navigation-list-item"><a class="header__navigation-list-item-link" href="#">team</a>
            </li>
            <li class="header__navigation-list-item"><a class="header__navigation-list-item-link"
                    href="#">publications</a></li>
            <li class="header__navigation-list-item"><a class="header__navigation-list-item-link" href="#">contact</a>
            </li>
        </ul>
    </nav>
    <div class="header__language-container w__color-top-header">
        <ul class="header__language-container-list">
            <li class="header__language-container-list-item"><a href="#"
                    class="header__language-container-list-item-link w__color-top-link-color">Ру</a></li>
            <li class="header__language-container-list-item"><a href="#"
                    class="header__language-container-list-item-link w__color-top-link-color">Ук</a></li>
            <li class="header__language-container-list-item"><a href="#"
                    class="header__language-container-list-item-link  w__color-top-link-color header__language-container-list-item-link--selected">En</a>
            </li>
        </ul>
        <p class="header__language-container-adress">Kyiv, Mechnikova str, 14/1</p>
        <a href="tel:0800 211 927" class="header__language-container-tel w__color-top-tel-color">0800 211 927</a>


        <a href="#" class="header__language-container-facebook-link">
            <svg class="header__language-container-facebook-link-icon">
                <use href="../assets/images/svgs/sprites/facebook-sprites.svg#facebook-gray"></use>
            </svg>

        </a>
    </div>
</div>